@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: auto;
    background-color: rgb(245, 248, 255);
    
}


/* header */
.header-style{
    font-family: "Noto Serif";

    gap: 590px;
    
}

.navbar{
    display: flex;
}
div ul li{
    
    list-style: none;

}
div ul li a{
    text-decoration: none;
    
}
.anchor-style{
    display: flex;
    gap: 48px;
}
.home-style{
    font-size: 16px;
    font-weight: 700;
    color: rgb(37, 36, 50)
    
}
.common-style{
    font-size: 16px;
    font-weight: 400;
    color: rgb(137, 135, 161);
}
.cart-style{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;

}



/* first container */

.left-section{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 1140px;
    height: 461px;
    left: 150px;
    margin-bottom: 50px;

}
.fresh-flowers{
    color: rgb(233, 90, 8);
    
}
.always-fresh-flowers{
    font-size: 65px;
    font-weight: 700;

}
.content-style{
    width: 570px;
    height: 178px;
    gap: 0;
}

 .content-style p{
   color: rgba(0, 0, 0, 0.5); 
   font-size: 22px;
   font-weight: 400;
   width: 570px;
   height: 108px;

   
 }
    .left-sec-img{
    width: 100%;
    
}
/* 3rd portion */

.our-plant-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1140px;
    height: 68px;
    gap: 16;
    margin-bottom: 49px;
    

}

.our-style{
    font-size: 50px;
    font-weight: 700;
    color: rgb(233, 90, 8);
}
.third-headline{
    font-family: "Noto Serif";

    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.our-plant-des{
    text-align: center;
    font-size: 22px;
    font-weight: 400; 
    color: rgba(0, 0, 0, 0.5);  
    width: 888px;
    height: 54px;
}


/* cards */
.sample-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1140px;
    margin-top: 80px;
    
    
}
.sample-card img{
    width: 280px;
    height: 323px;
    gap: 35px;
    filter: opacity(95%);
}
.lily-blossom{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
}
.price{
    margin: 10px 0 25px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(17, 17, 17);
    width: 81px;
    height: 16px;
}
.flower-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    background-color: rgb(233, 90, 8);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 270px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}  


/* flower-plant-lover */


.fourth-container{
    display: flex;
    margin-top: 80px;
    max-width: 1140px;
    gap: 40px;
}
.badge{
    width: 86px;
    height: 86px;
    left: 497px;
    top: 2072px;
}

.flower-plant-lover{
    font-size: 50px;
    font-weight: 700;
    font-family: "Noto Serif";
    color: rgb(0, 0, 0);
    width: 540px;
    height: 137px;
    margin-bottom: 20px;
    
}
.flower-plant-des{
    font-family: "inter";
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
   
}
.flower-plant-des ul li{
    list-style: disc;
     width: 540px;
    height: 108px;
}
.fourth-img{
    width: 540px;
    height: 597px;
}


/* latest deal */
.dealing-section{
margin-top: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.latest{
    color: rgb(233, 90, 8);
}
.latest-deal{
    font-size: 50px;
    font-weight: 700;
    font-family: "Noto Serif";
    margin-bottom: 15px;
}
.dealing-section p{
    
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}