*{
    margin: auto;
    background-color: rgb(245, 248, 255);
    
}


/* header */
.header-style{
    
    gap: 590px;
    
}

.navbar{
    display: flex;
}
div ul li{
    
    list-style: none;

}
div ul li a{
    text-decoration: none;
    
}
.anchor-style{
    display: flex;
    gap: 48px;
}
.home-style{
    font-size: 16px;
    font-weight: 700;
    color: rgb(37, 36, 50)
    
}
.common-style{
    font-size: 16px;
    font-weight: 400;
    color: rgb(137, 135, 161);
}
.cart-style{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;

}



/* first container */

.left-section{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 1140px;
    height: 461px;
    left: 150px;
    margin-bottom: 50px;

}
.fresh-flowers{
    color: rgb(233, 90, 8);
    
}
.always-fresh-flowers{
    font-size: 65px;
    font-weight: 700;

}
.content-style{
    width: 570px;
    height: 178px;
    gap: 0;
}

 .content-style p{
   color: rgba(0, 0, 0, 0.5); 
   font-size: 22px;
   font-weight: 400;
   width: 570px;
   height: 108px;

   
 }
    .left-sec-img{
    width: 100%;
    
}
/* 3rd portion */

.our-plant-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1140px;
    height: 68px;
    gap: 16;
    margin-bottom: 49px;
    

}

.our-style{
    font-size: 50px;
    font-weight: 700;
    color: rgb(233, 90, 8);
}
.third-headline{
    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.our-plant-des{
    text-align: center;
    font-size: 22px;
    font-weight: 400; 
    color: rgba(0, 0, 0, 0.5);  
    width: 888px;
    height: 54px;
}
