@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: auto;
    background-color: rgb(245, 248, 255);
    
}


/* header */
.header-style{
    font-family: "Noto Serif";

    gap: 590px;
    
}

.navbar{
    display: flex;
}
div ul li{
    
    list-style: none;

}
div ul li a{
    text-decoration: none;
    
}
.anchor-style{
    display: flex;
    gap: 48px;
}
.home-style{
    font-size: 16px;
    font-weight: 700;
    color: rgb(37, 36, 50)
    
}
.common-style{
    font-size: 16px;
    font-weight: 400;
    color: rgb(137, 135, 161);
}
.cart-style{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;

}



/* first container */

.left-section{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 1140px;
    height: 461px;
    left: 150px;
    margin-bottom: 50px;

}
.fresh-flowers{
    color: rgb(233, 90, 8);
    
}
.always-fresh-flowers{
    font-size: 65px;
    font-weight: 700;

}
.content-style{
    width: 570px;
    height: 178px;
    gap: 0;
}

 .content-style p{
   color: rgba(0, 0, 0, 0.5); 
   font-size: 22px;
   font-weight: 400;
   width: 570px;
   height: 108px;

   
 }
    .left-sec-img{
    width: 100%;
    
}
/* 3rd portion */

.our-plant-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1140px;
    height: 68px;
    gap: 16;
    margin-bottom: 49px;
    

}

.our-style{
    font-size: 50px;
    font-weight: 700;
    color: rgb(233, 90, 8);
}
.third-headline{
    font-family: "Noto Serif";

    font-size: 50px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.our-plant-des{
    text-align: center;
    font-size: 22px;
    font-weight: 400; 
    color: rgba(0, 0, 0, 0.5);  
    width: 888px;
    height: 54px;
}


/* cards */
.sample-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1140px;
    margin-top: 80px;
    
    
}
.sample-card img{
    width: 280px;
    height: 323px;
    gap: 35px;
    filter: opacity(95%);
}
.lily-blossom{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
}
.price{
    margin: 10px 0 25px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(17, 17, 17);
    width: 81px;
    height: 16px;
}
.flower-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    background-color: rgb(233, 90, 8);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 270px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}  


/* flower-plant-lover */


.fourth-container{
    display: flex;
    margin-top: 100px;
    max-width: 1140px;
    gap: 40px;
    position: relative;
}
.badge{
    position: absolute;
    right: 550px;
    top: -90px;
    background: transparent;
}

.badge img{
    width: 200px;
    height: 200px;
    
    
    
}

.flower-plant-lover{
    font-size: 50px;
    font-weight: 700;
    font-family: "Noto Serif";
    color: rgb(0, 0, 0);
    width: 540px;
    height: 137px;
    margin-bottom: 20px;
    
}
.flower-plant-des{
    font-family: "inter";
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
   
}
.flower-plant-des ul li{
    list-style: disc;
     width: 540px;
    height: 108px;
}
.fourth-img{
    width: 540px;
    height: 597px;
}


/* latest deal */
.dealing-section{
margin-top: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.latest{
    color: rgb(233, 90, 8);
}
.latest-deal{
    font-size: 50px;
    font-weight: 700;
    font-family: "Noto Serif";
    margin-bottom: 15px;
}
.dealing-section p{
    
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}





/* discount bar */


.discount-bar{
max-width: 1140px;
margin-top: 30px;
gap: 20px;

}



.flower-discount{
    display: flex;
    gap: 15px;
    
}



 #sixty-percent{
    
    text-align: center;
    
 }
.left-dis{
    

}
 
.discount-content{
    font-family: "Noto Serif";
    font-size: 20px;
    font-weight: 800;
    
    width: 367px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    
    
    
}
h3{
    background-color: transparent;
    margin-top: 90px;
    filter: brightness(150%);

}
.bloom{
    
    background-image: url(./assets/deal-bloom.png);
    background-size: cover;
    border-radius: 12px;
    
}
.ana{
    background-image: url(./assets/deal-ana.png);
    background-size: cover;
    border-radius: 12px;
}
.zabo{
    background-image: url(./assets/deal-zabo.png);
    background-size: cover;
    width: 753px;
    height: 424px;
    border-radius: 12px;
}
.left-bg-flower{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.shop-now{
    margin-bottom: 50px;
    background: transparent;
}

.shop-now a{
    background-color: transparent;
    
    color: rgb(255, 255, 255);

}

.right-bg-flower h3{
    font-size: 40px;
    margin-top: 150px;
}

.right-bg-flower p a{
    font-size: 40px;
    
}

/* join colourful bunch */



.last-sec-cont{
    background-image: url(./assets/news-letter-bg.png);
    width: 1140px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}


.colourful-bunch{
    font-family: "Noto Serif";
    font-size: 40px;
    font-weight: 700;
    margin-top: 200px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    
}
.input-email{
    width: 644px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 190px;
    
}
.email-bar{
    margin-left: 10px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
}
.btn-secondary{
    width: 186px;
    height: 50px;
    margin-right: 1px;
    border: none;
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
}




/* footer */



.end-sec{
    width: 1140px;
    height: 250px;
    margin-top: 40px;
    margin-bottom: 30px;

}
.last-logo{
    width: 300px;
height: 180px;
margin-top: 10px;
gap: 16px;

}
.last-logo p{
    font-family: "Inter";
font-size: 22px;
font-weight: 400;
color: rgba(0, 0, 0, 0.5);

}

.footer-anchor{
    margin-top: 50px;
}

.display-flex{
    display: flex;
    justify-content: center;
}
.footer-anchor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    
}
.footer-anchor a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: rgb(107, 114, 128);
    
}
.footer-icon{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

}
.footer-icon img{
    width: 36px;
    height: 36px;
    
    

}



@media screen and (max-width: 576px) {

    .navbar{
        width: 370px;
        justify-content: center;
        align-items: center;
        padding: 40px;
        
    }
    .header-style{
        margin: 0 auto;
    }

     .anchor-style li:nth-child(1),
     li:nth-child(2),
     li:nth-child(3) {
        display: none;
     }
        
     

    .left-section{
        flex-direction: column-reverse;
        justify-items: flex-start;
        align-items: flex-start;
        margin-bottom: 30px;
        margin-left: 0;
        padding-left: 0;

    }
.content-style h1{
    font-size: 35px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -190px;
    margin-top: 30px;

}
    .content-style p{
        margin-left: -190px;
        margin-top: 10px;

    }


    .left-section-img{
        width: 395px;
        padding: 50px;
        
        margin-bottom: 35px;


    }
    .third-headline, .our-style{
        
       font-size: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        

    }
    .our-plant-style{
        width: 500px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 15px;
        

    }



    .our-plant-des{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 336px;
        height: 68px;
        
        

    }

    .flower-discount{
        width: 400px;
        justify-content: center;
        align-items: center;
        margin-left: 55px;

    }
    .bloom{
         width: 450px;
        height: 250px;

    }
    .ana{
         width: 450px;
        height: 250px;
    }
    .zabo{
        width: 450px;
        height: 250px;
    }




    .sample-card{
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 0;
        padding: 20px 0;
        gap: 20px;
        align-items: center;
    }
    .our-plant-style{
        margin-top: 150px;
        margin-bottom: 80px;
        
        
        
    }
    .badge img{
        display: none;
    }
    .fourth-container{
        flex-direction: column;
    }
    .fourth-img{
        margin-left: 18px;
    }



    .dealing-section{
        margin-left: 150px;
    }
    .dealing-section h2{
        font-size: 38px;
    }




    .flower-plant-des ul li{
        display: flex;
        flex-direction: column;
    }
    .flower-discount{
        flex-direction: column;
        
    }
    .last-sec-cont{
        width: 550px;
        height: 450px;
        justify-content: center;
        align-items: center;
        margin-left: 13px;

    }

    .input-email{
        width: 400px;
    }
    .btn-secondary{
        width: 100px;
    }
    .display-flex{
        display: flex;
        flex-direction: column;
    }
    .footer-anchor{
        display: flex;
        flex-direction: column;
    }
    .display-flex{
        width: 200px;
      margin-left: 5px;
    }


}